<!-- <div>
  <div id="preview-area">
    <div id="select-position"></div>
    <canvas id="dst-canvas" width="256" height="256" hidden></canvas>
  </div>
</div> -->
<!-- <kendo-dialog  *ngIf="open"  [minWidth]="250" [width]="450">
  <image-drawing [src]="imageUrl" outputMimeType="'image/jpeg'"
  outputQuality="1"  forceSizeExport="true" (save)="save($event)" 
  (cancel)="open=false"></image-drawing>
</kendo-dialog> -->
<!-- (save)="save($event)" -->
<!-- <ng-container > -->
  <!-- <img [src]="imageUrl" id="select-position" (click)="Click($event)" > -->
  <!-- <app-imagemap [src]="image" [coordinates]="coordinates" (onClick)="getClick($event)" canEdit="false"></app-imagemap>
</ng-container> -->

<img src="assets/dsBuffer.bmp.png" usemap="#image-map" class="mapper"> 

<map name="image-map">
    <area  alt="FrontDoor" title="FrontDoor" class="iopacity60 iborder icolor2F32FF" coords="209,153,190,154,175,154,156,161,146,170,135,176,123,187,127,196,130,205,132,216,133,229,142,231,157,231,173,231,187,230,207,231,207,221,208,210,208,200,206,191,208,170" shape="poly" #FrontDoor (click)="Whichpart(FrontDoor.title)">
    <area  alt="BackDoor" title="BackDoor" class="iopacity60 iborder icolor2F32FF" coords="212,154,224,154,239,154,253,154,262,155,272,164,282,174,282,186,282,197,270,204,266,208,258,218,254,230,245,230,231,230,217,230,210,230,210,213,207,197,207,182,209,166" shape="poly" #BackDoor (click)="Whichpart(BackDoor.title)">
    <area  alt="BackPeice" title="BackPeice" class="iopacity60 iborder icolorFF0000" coords="278,153,275,158,275,164,282,174,284,186,278,196,266,210,258,221,255,228,258,234,266,234,269,240,273,247,281,252,293,252,302,249,307,241,310,235,317,233,324,239,335,237,350,238,353,227,359,216,354,204,352,195,354,178,346,176,331,177,318,170,302,160,290,156" shape="poly" #BackPeice (click)="Whichpart(BackPeice.title)">
    <area alt="FrontPiece" title="FrontPiece"  class="iopacity60 iborder icolorFF0000" coords="126,179,114,179,101,179,88,180,73,184,59,187,42,197,38,206,37,217,37,225,37,232,38,239,52,239,60,237,69,237,74,229,74,237,83,246,95,252,111,251,119,241,122,233,134,238,133,221,130,205,123,195,123,187" shape="poly" #FrontPiece (click)="Whichpart(FrontPiece.title)" >
</map>
<div  [hidden]="!open" >
<kendo-dialog   >
  <div style="position: absolute;width: 200px">
    <button (click)="saveIm()">saveIm</button>
    <button (click)="open=false">Cancel</button>
    <button (click)="undo()">undo</button>
    <button (click)="bErasing=true">bErasing</button>
  </div>
  <canvas #canvas ></canvas>
</kendo-dialog>
</div>




