canvas{
    box-shadow: 2px 2px 6px 2px lightgrey;
    // background-image: url('../assets/2.png');
    // background-position: center center;
    // background-size: cover;
  }
  i{
    margin: 0px 8px;
    color: black;
  }
  